function Main.main 3
push constant 3
pop local 0
push constant 4
pop local 1
push local 0
push local 1
call Vector_2d.new 2
pop local 2
push local 2
call Vector_2d.Length 1
call Output.printInt 1
pop temp 0
push constant 0
return
